<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }        
        .bg {
            /* The image used */
            background-image: url("button.jpg") no-repeat;

            background-size: 100%;
        
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="container">
<h1><span class="fa fa-lock"></span> Lots of Money Bank</h1>
</div>
<div class="container">
<div class="bg">

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Keychain Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Keychain Signup</a>

</div>
</div>
</body>
</html>
