<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Lots of Money Bank</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='style.css' />
</head>
<body>
    <div class="container">
    <h1>Lots of Money Bank </h1>
    </div>
    <div class="container">
    <h2> <span class="fa fa-lock"></span> Keychain </h2>
    <p> Login or register securely and anonymously with Keychain </p>
    <div class="bg">

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Keychain Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Keychain Signup</a>

</div>
</div>

</html>
</body>
