<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script>
    var longPoll = function(){
          $.ajax({
              method: 'GET',
              headers: {
                'x-access-token': '<%= token %>'
              },
              url: 'http://ec2-18-205-185-7.compute-1.amazonaws.com:8080/poll', 
              success: function(data){
                 window.location = data  
              },
              complete: function(){
                  longPoll()
              },
              timeout: 30000
          })
      }
      longPoll() 
    </script>
    <title>Keychain</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<div class="container">
    <div class="page-header text-center">
        <h1></span> QR CODE</h1>
    </div>

    <div class="row">

    <img src="/qr/<%= data %>">

    </div>

</div>
</body>
</html>
